name: SonarCloud analysis

on:
  push:
    branches: [ "main" ]
  pull_request:
  workflow_dispatch:

jobs:
  sonarcloud:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2         
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

